body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid #401212; 
    background-color: #886060;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dd5e09;
    border: none;
    color: white;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #070d0d;
}
  